a:hover {
    color: silver;

}

.navbar-default > li {
  display: inline;
}

header {
  color: crimson;
}

h1, h2, body {
  text-align: center
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: gray;
}

li a {
    color: white;
    padding: 14px;
    font-size:15px
}
table, th, td {
    border: 1px solid black;
}

tfoot, thead {
  color: white;
  background-color:gray;
}

input, label {
    display:inline-block;
    padding:1px;
    text-align:left
}

label {
    width:150px;
    margin: 3px;
    border:none;
}
