ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: gray;
}

li a {
    color: white;
    text-align: center;
    padding: 14px;
    font-size:15px
}

a:hover {
    color: silver;

}

.navbar-default > li {
  display: inline;
}

h1 {
  color: #000080
}
