<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">

    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <title>Comments</title>
  </head>
  <header>


<div class="container-fluid">
<div class="row">
  <nav class="navbar navbar-default">
      <li id="nav"><a href="index.html">Home</a></li>
      <li id="nav"><a href="profile.html">Profile</a></li>
      <li id="nav"><a href="AccountsReceivable.html">Accounts Receivable</a></li>
    </nav>
  </div>
</div>
  </header>

  <body>
    <div class="container">
    <div class="row">
    <div class="col">
      <h2>Comments</h2>
<div id="commentsData">
  <table id="commentsTable" class="table-striped table-hover" align="center">
    <thead>
    <tr>
      <th>ID</th>
      <th>Comment</th>
    </tr>
    </thead>

    <tbody v-if="comments">
      <tr v-for="comment in comments">
        <td>{{comment.id}}</td>
        <td>{{comment.comment}}</td>
      </tr>
    </tbody>
  </table>
  </div>
  <div class="col">
  <h2>Add Comment</h2>
  <form @submit.prevent="postComments">
  <label>Comment: </label>
  <input id="comment" type="text" name="comment">
  <br /><br />
  <button id="submitNewComment">Submit</button>
  </form>
  </div>


</div>

</div>
</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="js/commentApp.js"></script>
    <script src="js/TableSorter.js"></script>
    <script>new Tablesort(document.getElementById('commentsTable'));</script>
    <script src="js/TableSorter.js"></script>
  </body>
</html>
